body {
    display: flex;
    flex-direction: column;
    font-family: Tahoma, sans-serif;
    margin: 0;
}

.header {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 500;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

a, .description {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #1F2937;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 450px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

button {
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color: #3882F6;
    color: #E5E7EB;
    border-color: #E5E7EB;
}

.golf {
    width: 450px;
    height: auto;
    border-radius: 10px;
}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.container {
    display: flex;
    justify-content: space-around;
    margin: 0 100px;
    padding-bottom: 100px;
}

.info {
    width: 150px;
    text-align: center;
}

.photo {
    height: 200px;
    width: 150px;
    border-radius: 10px;
    border: 3px solid #1F2937;
}

.gray {
    background-color: #E5E7EB;
    padding: 75px 0;
}

.quote {
    text-align: center;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

.author {
    text-align: center;
    font-size: 20px;
}

.action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 24px;
    margin: 50px;
}

.question {
    color: #F9FAF8;
    font-size: 24px;
    margin-bottom: 5px;
}

.action-subtext {
    color: #E5E7EB;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.footer-text {
    color: #F9FAF8;
}